
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="/static/img/favicon.png"> -->

    <title>IMDB+ : Movie Recommendation System</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <style type="text/css">
      /* Move down content because we have a fixed navbar that is 50px tall */
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
      
      .form-group.required .control-label:after { 
		   content:"*";
		   color:red;
		}
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home">IMDB+</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="home">Home</a></li>
            <li class="active" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">User<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="">Add New User</a></li>
                <li><a href="list_all_users">List All Users</a></li>
              </ul>
            </li>
			
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movie<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="add_movie">Add New Movie</a></li>
                <li><a href="rate_movie">Rate Movie</a></li>
                <li><a href="list_all_movies">List All Movies</a></li>
              </ul>
            </li>
			<li><a href="get_reco">Recommendation</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h3>Add New User</h3>
        <form class="form-horizontal" role="form" id="addUserForm">
        	{% csrf_token %}
		    {{ form.as_p }}
			<div class="form-group required">
			  <label class="control-label col-sm-2" for="name">Name:</label>
			  <div class="col-sm-10">
				<input type="name" class="form-control" id="name" name="name"
				       placeholder="e.g John Doe" required="required">
			  </div>
			</div>
			<div class="form-group required">
			  <label class="control-label col-sm-2" for="age">Age:</label>
			  <div class="col-sm-10">		   
				<input type="number" class="form-control" id="age" name="age"
					   placeholder="e.g 30" required="required">
			  </div>
			</div>
			<div class="form-group required">
			  <label class="control-label col-sm-2" for="sex">Sex:</label>
			  <div class="col-sm-10">		   
			  	<input type="radio" name="sex" value="M" checked required="required"> Male
  					<br>
				<input type="radio" name="sex" value="F" required="required"> Female
			  </div>
			</div>
			<div class="form-group required">
				<label class="control-label col-sm-2" for="occupation">Occupation:</label>
				<div class="col-sm-10">
					<select name="occupation" id="occupation" class="form-control" required="required">
					</select>
				</div>
				</label>
			</div>
			<div class="form-group required">
			  <label class="control-label col-sm-2" for="zipcode">ZipCode:</label>
			  <div class="col-sm-10">		   
				<input type="text" class="form-control" name="zipcode" 
					   id="zipcode" placeholder="e.g 08901" required="required">
			  </div>
			</div>
			<br>
			<div class="form-group">		
			  <div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-success">Submit &raquo;</button>
			  </div>
			</div>
	  </form>
      </div>
      <!-- Modal -->
	  <div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-sm">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
			  <p>This is a small modal.</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/waitingDialog.js"></script>
    <script type="text/javascript">
		var occupationJson = [
			{
				"id": "0",
				"value": "administrator"
			}, {
				"id": "1",
				"value": "artist"
			}, {
				"id": "2",
				"value": "doctor"
			}, {
				"id": "3",
				"value": "educator"
			}, {
				"id": "4",
				"value": "engineer"
			}, {
				"id": "5",
				"value": "entertainment"
			}, {
				"id": "6",
				"value": "executive"
			}, {
				"id": "7",
				"value": "healthcare"
			}, {
				"id": "8",
				"value": "homemaker"
			}, {
				"id": "9",
				"value": "lawyer"
			}, {
				"id": "10",
				"value": "librarian"
			}, {
				"id": "11",
				"value": "marketing"
			}, {
				"id": "12",
				"value": "none"
			}, {
				"id": "13",
				"value": "other"
			}, {
				"id": "14",
				"value": "programmer"
			}, {
				"id": "15",
				"value": "retired"
			}, {
				"id": "16",
				"value": "salesman"
			}, {
				"id": "17",
				"value": "scientist"
			}, {
				"id": "18",
				"value": "student"
			}, {
				"id": "19",
				"value": "technician"
			}, {
				"id": "20",
				"value": "writer"
			}
		];
			
		$(document).ready(function () {
			 var listItems = '<option selected="selected" value="0">- Select -</option>';

		  for (var i = 0; i < occupationJson.length; i++) {
				 listItems += "<option value='" + occupationJson[i].value + "'>" + occupationJson[i].value + "</option>";
			 }

			 $("#occupation").html(listItems);
		});
				
		var recoJson;
		    	
		$(function(){
			$("#addUserForm").submit(function(e){
				setInterval(function(){waitingDialog.show('Adding User .. '}, 3000);
			    console.log("addUserForm submitted")
			    e.preventDefault();
				dataString = $("#addUserForm").serialize();
	 
				$.ajax({
					type: "POST",
					url: "addUserController/",
					data: dataString,
					dataType: "json",
					success: handleData,
				});       
			});
		});
		
		function handleData(data) {
			waitingDialog.hide();
			$('#addUserForm')[0].reset();
		}
		
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					// Only send the token to relative URLs i.e. locally.
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			}
		});
	</script>
  </body>
</html>
