
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="/static/img/favicon.png"> -->

    <title>IMDB+ : Movie Recommendation System</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <style type="text/css">
      /* Move down content because we have a fixed navbar that is 50px tall */
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
      
      .form-group.required .control-label:after { 
		   content:"*";
		   color:red;
	  }
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home">IMDB+</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="home">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">User<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="add_user">Add New User</a></li>
                <li><a href="list_all_users">List All Users</a></li>
              </ul>
            </li>
			
			<li class="active" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movie<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="">Add New Movie</a></li>
                <li><a href="rate_movie">Rate Movie</a></li>
                <li><a href="list_all_movies">List All Movies</a></li>
              </ul>
            </li>
			<li><a href="get_reco">Recommendation</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h3>Add New Movie</h3>
        <form class="form-horizontal" method="post" action="addMovieController/" role="form">
        	{% csrf_token %}
		    {{ form.as_p }}
			<div class="form-group required">
			  <label class="control-label col-sm-2" for="title">Title:</label>
			  <div class="col-sm-10">
				<input type="text" class="form-control" name="title" 
				       id="title" placeholder="e.g Godfather" required="required">
			  </div>
			</div>
			<div class="form-group required">
			  <label class="control-label col-sm-2" for="releaseDate">Release Date:</label>
			  <div class="col-sm-10">		   
				<input type="text" class="form-control" name="releaseDate"
					   id="releaseDate" placeholder="e.g 01-Jan-1972" required="required">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="videoDate">Video Release Date:</label>
			  <div class="col-sm-10">		   
				<input type="text" class="form-control" name="videoDate"
				       id="videoDate" placeholder="">
			  </div>
			</div>
			<div class="form-group required">
			  <label class="control-label col-sm-2" for="url">Url:</label>
			  <div class="col-sm-10">		   
				<input type="text" class="form-control" name="url"
				       id="url" placeholder="e.g imdb.com/godfather" required="required">
			  </div>
			</div>
			<div class="form-group required">
				<label class="control-label col-sm-2" for="genre">Genre(s):</label>
				<div class="col-sm-10">
					<select multiple="multiple" class="form-control" id="genre" 
						    name="genre" required="required">
					</select>	
				</div>
			</div>
			<div class="form-group">		
			  <div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-success">Submit &raquo;</button>
			  </div>
			</div>
	  </form>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/waitingDialog.js"></script>
    <script type="text/javascript">
    	var genreJson = [{
			"value": "Unknown",
			"id": "unknown"
		}, {
			"value": "Action",
			"id": "action"
		}, {
			"value": "Adventure",
			"id": "adventure"
		}, {
			"value": "Animation",
			"id": "animation"
		}, {
			"value": "Children",
			"id": "children"
		}, {
			"value": "Comedy",
			"id": "comedy"
		}, {
			"value": "Crime",
			"id": "crime"
		}, {
			"value": "Documentary",
			"id": "documentary"
		}, {
			"value": "Drama",
			"id": "drama"
		}, {
			"value": "Fantasy",
			"id": "fantasy"
		}, {
			"value": "Film-Noir",
			"id": "film_noir"
		}, {
			"value": "Horror",
			"id": "horror"
		}, {
			"value": "Musical",
			"id": "musical"
		}, {
			"value": "Mystery",
			"id": "mystery"
		}, {
			"value": "Romance",
			"id": "romance"
		}, {
			"value": "Sci-Fi",
			"id": "sci_fi"
		}, {
			"value": "Thriller",
			"id": "thriller"
		}, {
			"value": "War",
			"id": "war"
		}, {
			"value": "Western",
			"id": "western"
		}];
		
		$(document).ready(function () {
			var listItems = '<option selected="selected" value="0">- Select -</option>';

			for (var i = 0; i < genreJson.length; i++) {
				 listItems += "<option value='" + genreJson[i].id + "'>" + genreJson[i].value + "</option>";
			 }

			 $("#genre").html(listItems);
		});
    </script>
  </body>
</html>
